#Unity
/Library
/Temp
/*.booproj
/*.csproj
/*.pidb
/*.sln
/*.unityproj
/*.userprefs

#Visual Studio Tools for Unity
/Assets/UnityVS/
/Assets/UnityVS.meta
/obj
/*.suo
/*.sln.DotSettings

#Mac
.DS_Store

